<html data-ng-app="module">
  <head>
    <title>Test</title>
  </head>
  
  <body data-ng-controller="DefaultCtrl">
    <div data-custom-namespace="space" data-custom-namespace-data="{ spaceId: 1 }">
      <div data-custom-namespace="integrations.trello">
        <div data-custom-namespace="card" data-custom-namespace-data="{ cardId: 1 }" data-ng-init="card = { id: 1, name1: 'batida', name2: 'se mato', lock: false }">
          <div style="width: 50%; box-sizing: border-box; float: left;">
            <h2>Using DOM events</h2>
            
            <input
              type="text"
              data-ng-model="card.name1"
              data-custom-emit="changed"
              data-custom-namespace="name1"
              data-custom-emit-trigger="keyup" />
            
            <p
              data-ng-bind="card.name1"
              data-custom-receive="changed"
              data-custom-namespace="name1"></p>
            
            <h2>Using Angular Events</h2>
            
            <input
              type="text"
              data-ng-model="card.name2"
              data-custom-emit="changed"
              data-custom-namespace="name2"
              data-custom-emit-trigger="updateAlways"/>
            
            <h3> Populating with jQuery-lite (angular provided) </h3>
            <p
              data-ng-bind="card.name2"
              data-custom-receive="changed"
              data-custom-namespace="name2">
              This is some dummy data
            </p>
            
            <h3> Populating using ngModel </h3>
            <input
              type="text"
              readonly="readonly"
              data-ng-model="boundName"
              data-custom-receive="changed"
              data-custom-namespace="name2"/>
          </div>
          <div style="width: 50%; box-sizing: border-box; float: left;">
            <h2>Emitter and Receiver</h2>
            
            <textarea
              data-ng-model="card.name3"
              data-custom-emit="changed"
              data-ng-disabled="card.lock"
              data-custom-receive="changed"
              data-custom-namespace="name3"
              data-ng-focus="lockCards = true"
              data-ng-blur="lockCards = false"
              data-custom-emit-if="{{ !card.lock }}"
              data-custom-emit-lock-on="{{ !!lockCards }}"
              data-custom-receive-on-lock="card.lock = true"
              data-custom-receive-on-unlock="card.lock = false"></textarea>
          </div>
        </div>
      </div>
    </div>
    
    <!-- Socket IO -->
    <script type="text/javascript" src="/vendor/scripts/socket.io.js"></script>
    
    <!-- Angular -->
    <script type="text/javascript" src="/vendor/scripts/angular.min.js"></script>
    <script type="text/javascript" src="/vendor/scripts/socket.min.js"></script>
    <script type="text/javascript" src="/vendor/scripts/angular-ui.min.js"></script>
    
    <!-- App Scripts -->
    <script type="text/javascript" src="app.js"></script>
  </body>
</html>
